.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-half {
    width: 50%;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

p,
h1 {
  width: 100%;
  height: auto;
  margin-top: 0;
}

.form-title,
.entries-btn h1 {
  margin: 1rem 0;
  height: auto;
}

.entries-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
}

.text-center {
  text-align: center;
}
