body {
  background-color: #f0f0f0;
}

header {
  background-color: #562b80;
  color: white;
  padding: auto;
  margin: auto;
  width: 100%;
}

.font-header {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
}

input,
textarea {
  border-radius: 5px;
  border: 1px solid #b6b6b6;
  height: 40px;
}

textarea {
  resize: none;
  height: 130px;
}

label,
input,
textarea {
  width: 100%;
  display: block;
}

input {
  margin-bottom: 1.5rem;
}

input:focus {
  outline: none;
  border: 2px solid #562b80;
}

textarea:focus {
  outline: none;
  border: 2px solid #562b80;
}

.entry-image,
.default-image {
  border-radius: 5px;
  width: 100%;
}

.entry-image img,
.default-image img {
  object-fit: cover;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.purple-button {
  background-color: #562b80;
  color: white;
  border-radius: 5px;
  border: 1px solid #562b80;
  padding: 0.3rem 1rem;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

li,
a {
  list-style: none;
}

button:active,
a:active {
  transform: translateY(0.2rem);
}

h4 {
  margin-left: 1rem;
  color: white;
}

.hidden {
  display: none;
}

ul {
  padding: 0;
}

p,
h1 {
  width: 100%;
  height: auto;
  margin-top: 0;
}

.text-center {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.btn-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0;
}

.btn-display-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  position: relative;
}

.delete {
  color: #dc2625;
  border-width: 0 0 2px;
  border-bottom-color: #dc2625;
  height: 18px;
  padding: 0 0.5px;
}

.position-fixed {
  position: fixed;
  display: flex;
  background-color: white;
}
